.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.cards img {
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  max-width: 50vw;
}

header {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  font-size: 35px;
  background-color: lightblue;
  padding: 2em;
  font-weight: bold;
}
h1 {
  flex-flow: column wrap;
  align-content: center;
  font-size: 30px;
  padding: 5em;
  font-weight: bold;
}
